FORGOT_PASSWORD_MAIL_URL=http://localhost:3333/password/forgot?token=
AWS_ACCESS_KEY_ID=abcd123
AWS_SECRET_ACCESS_KEY=abcd123
AWS_BUCKET=bucket_name
AWS_BUCKET_REGION=region
AWS_BUCKET_URL=url

API_URL=url

DISK=local