<style>
    .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column; 
        margin: auto;
    }

    span {
        margin: 10px;
    }
</style>

<div class="container">
    <img src="https://i.imgur.com/oUAKMC5.png" alt="">
    <span>Olá, <strong>{{name}}</strong>!</span>
    <br/>

    <span>Você solicitou alteração de senha.</span>
    <span>
        Para realizar a alteração da senha, clique no link
        <a href={{link}}>{{link}}</a>
    </span>

    <span>Caso você não tenha solicitado a alteração de senha, basta ignorar este e-mail.</span>

    <strong>Obrigado!</strong>

    <h3>Equipe Rentx | All Rights Reserved © </h3>

</div>